<app-navbar></app-navbar>

<div id="wrapper">
    <app-sidebar></app-sidebar>

    <div id="content-wrapper">
        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#" routerLink="/home">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Inicio</li>
            </ol>

            <!-- Icon Cards-->
            <div class="row justify-content-md-center">
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-primary o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <fa-icon [icon]="faAws"></fa-icon>
                            </div>
                            <div class="mr-5">Consumo de memoria RAM!</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="#" routerLink="/ram">
                            <span class="float-left">Ver detalles</span>
                            <span class="float-right">
                                <fa-icon [icon]="faAngleRight"></fa-icon>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-warning o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <fa-icon [icon]="faAws"></fa-icon>
                            </div>
                            <div class="mr-5">Uso del CPU!</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="#" routerLink="/cpu">
                            <span class="float-left">Ver Detalles</span>
                            <span class="float-right">
                                <fa-icon [icon]="faAngleRight"></fa-icon>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-success o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <fa-icon [icon]="faAws"></fa-icon>
                            </div>
                            <div class="mr-5">Lista de Procesos!</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="#" routerLink="/procesos">
                            <span class="float-left">Ver Detalles</span>
                            <span class="float-right">
                                <fa-icon [icon]="faAngleRight"></fa-icon>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © Monitor de Recursos 2020</span>
            </div>
        </div>
    </footer>

</div>